.capacitacao {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.capacitacao-conteudo h2 {
  color: var(--cor-5);
  margin-bottom: var(--margem-m);
}

.capacitacao-conteudo p {
  font: var(--fonte-2);
  margin-bottom: var(--margem-m);
}

.capacitacao-conteudo p:last-of-type {
  font: var(--fonte-2);
  font-weight: 600;
}

.capacitacao-imagens {
  display: flex;
  gap: 40px;
  align-self: center;
}

.capacitacao-imagens img {
  border-radius: 5px;
  transition: transform 0.5s ease;
  max-width: 320px;
}

.capacitacao-imagens img:hover {
  transform: scale(1.05);
}

.capacitacao a {
  background-color: var(--cor-3);
  padding: 15px 40px;
  border-radius: 5px;
  margin-top: var(--margem-m);
  font: var(--fonte-2-ub);
  color: var(--cor-1);
  align-self: center;
}

.capacitacao a:hover {
  background-color: var(--cor-4);
}

@media (max-width: 1200px) {
  .capacitacao-imagens {
    display: none;
  }

  .capacitacao a {
    margin: 0;
  }

  .capacitacao-conteudo p:last-of-type {
    margin: 0;
  }
}
