* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1.75px solid var(--cor-5);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  max-width: max-content;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font: var(--fonte-3);
}
