@import url(./utilidades/cores.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/margens.css);
@import url(./global.css);
@import url(./header.css);
@import url(./introducao.css);
@import url(./capacitacao.css);
@import url(./metodologia.css);
@import url(./footer.css);
